body {
    background-image: url("../../images/bg.png");
    background-size: cover;
    background-repeat: no-repeat; 
}

* {
	font-family: 'Armata', sans-serif;
	color: #FFFFFF;
    text-shadow: 0 0 10px #000000;
}

.container {
	margin-top: 15px;
	margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}



@media screen and (min-height: 480px) {

    .container{
        height: 480px;
    }
}

@media screen and (min-height: 736px){
    .container{
        height: 736px;
    }
    
    form {
        font-size: medium;
    }
    
    #questions {
        font-size: medium;
    }
}

@media screen and (min-height: 568px){
    .container{
        height: 568px;
    }
    
    form {
        font-size: small;
    }
    
    #questions {
        font-size: small;
    }
}


@media screen and (min-height: 1024px){
    .container{
        height: 1024px;
    }
    
    form {
        font-size: x-large;
    }
    
    #questions {
        font-size: x-large;
    }
}

#plane {
    padding-top: 5vh;
}

h1, #plane {
    text-align: center;
    height: 20vh;
}
h1 {
    padding-top: 5vh;
    padding-bottom: 10vh;
}

input {
    text-shadow: 0 0 0 #FFF;
}

#plane {
    font-size: 30;
}

.table-responsive {
    width: 100%;
    border: none !important;
}

.table-responsive tbody {
    width: 100%;
}

.table-responsive tbody tr td, .table tbody tr th {
    width: 100%;
    height: 30px;
    padding-bottom: 0.8em;
    padding-top: 0.8em;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    text-shadow: 0 0 30px #000;
    font-size: 20px;
    font-size-adjust: auto;
}

input[type="text"], input[type="password"] {
    width: 100%;
    color:white;
    border-radius: 8px;
    background-color: rgba(150, 150, 150, 0.5);
}
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
    color: #DDD;
}

button, button#delete, button#add, button#search {
    background-color: rgba(150,150,150,0.5); 
    border-color: white;
    color: white;
}

div[id='sendResult'], div[id='createSurvey'],div[id='refreshList']  {
    align-self: flex-end;
    background-color: rgba(150,150,150,0.5);
    color: white;
    width: 100%;
    height: 2em;
    font-size: medium;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}

div[id='delDiv']{
    object-position: right;
}

div[class='btn-group'] {
    padding-top: 10px;
}

div[class='answers']{
    padding-top: 10px;
    padding-bottom: 10px;
}

button[class*='dropdown-toggle'] {
     background-color:rgba(150,150,150,0.5); 
     border-color: white;
}

button[class*='dropdown-toggle']:hover {
    background-color: rgba(0, 0, 0, 0.5); 
}

ul[class="dropdown-menu"] {
     background-color: rgba(150,150,150,0.5); 
}

ul[class="dropdown-menu"] > li {
    background-color: rgba(150,150,150,0.5); 
}

ul[class="dropdown-menu"] > li:hover {
    background-color: rgba(0, 0, 0, 0.5); 
}

i:nth-of-type(2) strong {
    text-shadow: none;
    color: black;
}

tbody[id="surveyList"] > tr {
    width: 100%;
}

.force-overflow
{
	min-height: auto;
}

#scroll-style::-webkit-scrollbar-track
{
	background-color: rgba(150,150,150,0.5);
    border-radius: 10px;
}

#scroll-style::-webkit-scrollbar
{
	width: 12px;
	background-color: rgba(220,220,220,0.5);
    border-radius: 10px;
}

#scroll-style::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	border-radius: 10px;
	background-color: #EEE;
}

.scrollbar {
    height: 60vh;
    overflow-y: scroll;
}

.scrollbar-usersTable {
    position: relative;
    margin-top: 60px;
    max-height: 450px;
	overflow-y: scroll;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
}

.ui-widget-header {
    background: #AAAAAA;
}

.ui-widget.ui-widget-content, .ui-widget.ui-widget-content {
    background: #CCCCCC;
}

.ui-widget-content {
    background: #CCCCCC;
}

.ui-dialog .ui-dialog-buttonpane button {
  background: #AAAAAA;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #AAAAAA;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#dataTable ul li
{
    	background-color: rgba(220,220,220,0.5);
}

.chart 
{
    display:none
}

.b-grey
{
    color:#000!important;
    background-color:#bbb!important;
}

.chart-button
{
    border-radius: 25px;
    border:none;
    display:inline-block;
    outline:0;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
}

.button-center
{
    text-align:center!important;
}

/*OFFLINE*/

@charset "UTF-8";
/* line 5, ../sass/offline-language-polish-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "Połączony";
}
/* line 10, ../sass/offline-language-polish-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "Rozłączony";
}

@charset "UTF-8";
/* line 6, ../sass/_content.sass */
.offline-ui .offline-ui-retry:before {
  content: "Połącz teraz";
}
/* line 11, ../sass/_content.sass */
.offline-ui.offline-ui-up .offline-ui-content:before {
  content: "Twój komputer jest podłączony do internetu.";
}
@media (max-width: 1024px) {
  /* line 11, ../sass/_content.sass */
  .offline-ui.offline-ui-up .offline-ui-content:before {
    content: "Twoje urządzenie jest podłączone do internetu.";
  }
}
@media (max-width: 568px) {
  /* line 11, ../sass/_content.sass */
  .offline-ui.offline-ui-up .offline-ui-content:before {
    content: "Twoje urządzenie jest podłączone.";
  }
}
/* line 22, ../sass/_content.sass */
.offline-ui.offline-ui-down .offline-ui-content:before {
  content: "Twój komputer stracił połączenie z internetem.";
}
@media (max-width: 1024px) {
  /* line 22, ../sass/_content.sass */
  .offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Twoje urządzenie straciło połączenie z internetem.";
  }
}
@media (max-width: 568px) {
  /* line 22, ../sass/_content.sass */
  .offline-ui.offline-ui-down .offline-ui-content:before {
    content: "Twoje urządzenie nie jest podłączone.";
  }
}
/* line 33, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-connecting .offline-ui-content:before, .offline-ui.offline-ui-down.offline-ui-connecting-2s .offline-ui-content:before {
  content: "Próbuję połączyć...";
}
/* line 42, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
  content: "Połączenie utracone. Ponawiam za " attr(data-retry-in-value) " sekund...";
}
@media (max-width: 568px) {
  /* line 42, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"]:before {
    content: "Ponawiam za " attr(data-retry-in-value) "s...";
  }
}
/* line 50, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
  content: "Połączenie utracone. Ponawiam za " attr(data-retry-in-value) " sekundę...";
}
@media (max-width: 568px) {
  /* line 50, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="second"][data-retry-in-value="1"]:before {
    content: "Ponawiam za " attr(data-retry-in-value) "s...";
  }
}
/* line 58, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
  content: "Połączenie utracone. Ponawiam za " attr(data-retry-in-value) " minut...";
}
@media (max-width: 568px) {
  /* line 58, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"]:before {
    content: "Ponawiam za " attr(data-retry-in-value) "m...";
  }
}
/* line 66, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
  content: "Połączenie utracone. Ponawiam za " attr(data-retry-in-value) " minutę...";
}
@media (max-width: 568px) {
  /* line 66, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="minute"][data-retry-in-value="1"]:before {
    content: "Ponawiam za " attr(data-retry-in-value) "m...";
  }
}
/* line 74, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
  content: "Połączenie utracone. Ponawiam za " attr(data-retry-in-value) " godzin...";
}
@media (max-width: 568px) {
  /* line 74, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"]:before {
    content: "Ponawiam za " attr(data-retry-in-value) "h...";
  }
}
/* line 82, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
  content: "Połączenie utracone. Ponawiam za " attr(data-retry-in-value) " godzinę...";
}
@media (max-width: 568px) {
  /* line 82, ../sass/_content.sass */
  .offline-ui.offline-ui-down.offline-ui-waiting .offline-ui-content[data-retry-in-unit="hour"][data-retry-in-value="1"]:before {
    content: "Ponawiam za " attr(data-retry-in-value) "h...";
  }
}
/* line 90, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s.offline-ui-waiting .offline-ui-retry {
  display: none;
}
/* line 93, ../sass/_content.sass */
.offline-ui.offline-ui-down.offline-ui-reconnect-failed-2s .offline-ui-content:before {
  content: "Nieudana próba podłączenia.";
}

/* line 3, ../sass/_offline-theme-base-indicator.sass */
.offline-ui, .offline-ui *, .offline-ui:before, .offline-ui:after, .offline-ui *:before, .offline-ui *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/_offline-theme-base-indicator.sass */
.offline-ui {
  display: none;
  position: fixed;
  background: white;
  z-index: 2000;
  display: inline-block;
}
/* line 13, ../sass/_offline-theme-base-indicator.sass */
.offline-ui .offline-ui-retry {
  display: none;
}
/* line 16, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-up {
  display: block;
}
/* line 19, ../sass/_offline-theme-base-indicator.sass */
.offline-ui.offline-ui-down {
  display: block;
}

/* line 8, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 12px;
  padding: 7px;
  background: #f6f6f6;
  color: #888888;
  bottom: 0;
  left: 20px;
}
/* line 19, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui .offline-ui-content {
  color: black;
  padding-left: 16px;
}
/* line 22, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui .offline-ui-content:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  bottom: 1px;
  left: 8px;
  margin: auto;
  height: 9px;
  width: 9px;
}
/* line 36, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui.offline-ui-up .offline-ui-content:after {
  background: #80d580;
}
/* line 41, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui.offline-ui-down .offline-ui-content:after {
  background: #ec8787;
}